* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #dbdada;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: rgb(249, 247, 247);
    text-decoration: none;
    font-weight: bold;
}
section {
    padding: 40px 0;
}

#about {
    background: #fff;
    text-align: center;
}

#about img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

#projects .project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input, #contact textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#contact button {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}
